<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../iron-swipeable-container/iron-swipeable-container.html">

<!--
`response-swiper`


@demo demo/index.html
-->

<dom-module id="response-swiper">
  <template>
    <style>
      :host {
        display: block;
      }
      .swipe {
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      cursor: default;
    }

    </style>
    <iron-swipeable-container id="containerId">
      <template is="dom-repeat" items="[[assertionArray]]">
         <div class="laClasse" data-correct$='[[item]]'>
            [[item.assertion]]
        </div>
      </template>
      </iron-swipeable-container>
  </template>

  <script>
    Polymer({

      is: 'response-swiper',
      ready(){
        this.$.containerId.addEventListener('iron-swipe',this.methodHandlingSwipe.bind(this))
      },
      methodHandlingSwipe(value){
        console.log(value.detail)
      },
      setSwipeProperty(value){
        if(value){
          return "swipe"
        }
        else
        {return "swipe disable-swipe"}
      },
      properties: {
        assertionArray: {
          type: Array,
          value: [],
          notify:true,
        },
      },

    });
  </script>
</dom-module>
